.home-header {
  padding: 200px 0;
  background-image: url(../../img/bg.jpg);
  position: relative;
}

.home-header-content {
  max-width: 600px;
}
.participants {
  padding: 100px 0;
  position: relative;
}

.wave-top {
  position: absolute;
  width: 100%;
  top: -200px;

}

.wave-bottom {
  position: absolute;
  width: 100%;
  bottom: -250px;
  z-index: 1;
}


.participants-content {
  gap: 104px;
  margin-top: 50px;
}
